/* initial page styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* html page backgorund color */
body {
    background-color: #d9dcd6;
}

/* general header style */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* h1 styling and size*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* header h1 class styling to add color */
.header h1 .seo {
    color: #d9dcd6;
}

/* set styles for header nav */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* ensure default list type syling set to none */
.header nav ul {
    list-style-type: none;
}

/* header nave list item styling set to display inline block and margin left set to 25px */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* style link with color and have no decorations applied to font */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Set font size for paragraph elements */
p {
    font-size: 16px;
}

/* Set dimensions, background, size and position of the hero class */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* set class to be floated left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* set class to be floated right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* set content class to be 3 quarters width and display inline block with a left margin */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* set styling of the benefits class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* set styling of inner benefits class  */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* set styling of the benefit third level header */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* set styling of the benefit image */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* set styling of article content */
.article-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* set article inner content images height */
.article-content img {
    max-height: 200px;
}

/* set styling of article content second level header */
.article-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* set footer styling */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* set footer second level header styling */
.footer h2 {
    font-size: 20px;
}
